* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: sans-serif;
}

li {
	display: inline-block;
}

a {
	display: block;
	width: 100%;
	max-width: 300px;
	min-width: 225px;
	border: 2px solid yellow;
	border-radius: 25px;
	background-color: yellow;
	padding-right: 25px;
	padding-left: 25px;
	font-weight: bold;
	font-size: 2rem;
	text-decoration: none;
	color: #457;
	box-shadow: 2px 2px 2px 2px black;
	transition: all .2s ease;
}

a:hover {
	background-color: blue;
	color: green;
	border-color: red; 
}


ul {
	display: inline-block;
}

nav {
	text-align: center;
	padding-top: 1rem;

}